body::-webkit-scrollbar{
    width: 8px;
}

body::-webkit-scrollbar-thumb{
    background-color: gold;
    border-radius: 8px;
}

body::-webkit-scrollbar-track{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 17%, rgba(255,255,255,1) 100%);
}

.Foros{
    text-align: center;
    color: white;
    background-color: #fff;
}